@using System
@using HomeCareCompany.Common
@{
    this.ViewData["Title"] = "Home Page";
}


<div class="text-center">
    <h1 class="display-4">
        <img class="img-fluid" src="~/img/pngguru.com.png" />Welcome to @GlobalConstants.SystemName!
    </h1>
   
</div>
